{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request a Post</title>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bs4/bootstrap.min.css' %}"/>
    <!-- Main Jquery -->
    <script type="text/javascript" src="{% static 'vendor/jquery.min.js' %}"></script>
    <!-- Bootstrap Js -->
    <script type="text/javascript" src="{% static '/vendor/bs4/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
</head>
<body>
{% if user.is_authenticated %}
    <nav class="navbar1">
    <div class="container">
        <a class="navbar-brand" href="/" ><img class="logo" src="{% static 'img/logo.png' %}" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="topnav">
            <div class="topnav-right">
                <a class="active" href="/">Home</a>
                <a href="{% url 'all-news' %}">All News</a>
                <a href="{% url 'all-category' %}">All Categories</a>
                {% if user.is_authenticated %}
                    {#                    <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>#}
                    <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
{% for group in request.user.groups.all %}
    {% if group.name == 'editor' %}{% endif %}
{% endfor %}
    <div class="container">
    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
{#        {{ form.as_p }}#}
        <br/>
        <label for="password"><h2>Title</h2></label>
        {{ form.title }}
         <label for="password"><h2>Description</h2></label>
        {{ form.description }}
        <label for="password"><h2>Image</h2></label>
        <br/>
        {{ form.image }}
        <br/>
        <br/>
        <br/>
        <input type="submit" value="Request A Post">
    </form>
    </div>
<br/>
<br/>
<br/>
<br/>
<br/>
<footer class="container1">
    <h4 class="contact" > <a href="{% url 'contact_us' %}">Contact Us</a> </h4>
    <h4 class="last"> <a class="back" id="backtoTop" onclick="scrollToTop();return false;"href="#">Back to Top</a> </h4>
</footer>
<script>
    function scrollToTop(){
  window.scrollTo({top: 0, behavior: 'smooth'});
}
</script>
{% endif %}
</body>
</html>