{% extends 'base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Thank you!</title>
        <link rel="icon" href=
                "{% static 'img/icon2.png' %}"
              type="image/x-icon">
    </head>
    <body>
    <br/>
    <h1 style="text-align: center">Your message reached us. We will respond soon!</h1>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    </body>
{% endblock %}
</html>