{% extends 'base.html' %}
{% load static %}
{% load social_share %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <main class="container mt-3 mb-5">
        <div class="row my-3">
            <div class="col-md-8">
                <div class="card mb-3">
                    <img src="/media/{{ news.image }}" class="card-img-top" alt="{{ news.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <hr/>
                        <p class="card-text">{{ news.detail|safe }}</p>
                    </div>
                    <div class="card-footer">
                        In <a href="/category/{{ news.category.id }}">{{ news.category.title }}</a>
                        <div class="btn_wrap">
                            <span>Share</span>
                            <div class="container123">
                                <a target="_blank"
                                   href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:8000{{ request.get_full_path }}"><i
                                        class="fab fa-facebook"></i></a>
                                <a target="_blank"
                                   href="https://twitter.com/share?url=http://127.0.0.1:8000{{ request.get_full_path }}"><i
                                        class="fab fa-twitter"></i></a>
                                <a target="_blank"
                                   href="https://www.linkedin.com/shareArticle?mini=true&url=http://127.0.0.1:8000{{ request.get_full_path }}"><i
                                        class="fab fa-linkedin"></i></a>
                                <a target="_blank"
                                   href="http://www.reddit.com/submit?url=http://127.0.0.1:8000{{ request.get_full_path }}"><i
                                        class="fab fa-reddit"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card my-4">
                    <h6 class="card-header">Add Comment</h6>
                    <div class="card-body">
                        {% for message in messages %}
                            <p class="text-success">{{ message }}</p>
                        {% endfor %}
                        <form method="post" action="/detail/{{ news.id }}">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-md-2">Name<span class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" name="name" required class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">Email<span class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <input type="temailext" name="email" required class="form-control"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">Comment<span class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <textarea class="form-control" name="message" required></textarea>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary"/>
                        </form>
                    </div>
                </div>

                <div class="card my-4">
                    <h6 class="card-header">Comments</h6>
                    <div class="card-body">
                        {% for comment in comments %}
                            <blockquote class="blockquote text-right">
                                <p class="mb-0" style="text-align: left">{{ comment.comment }}</p>
                                <br/>
                                <h2 class="blockquote-footer">{{ comment.name }} <cite
                                        title="Source Title">{{ comment.email }}</cite></h2>
                            </blockquote>
                            <hr/>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="mb-3 border-bottom pb-1">From this Category</h3>
                {% for news in related_news %}
                    <div class="card mb-3 shadow">
                        <img src="/media/{{ news.image }}" class="card-img-top" alt="{{ news.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ news.title }}</h5>
                            <hr/>
                            <p class="card-text"><a href="/detail/{{ news.id }}"
                                                    class="float-right btn btn-sm btn-dark">Read Full</a></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
    <script>
        $('.share p').on('click', function () {

            $('.sites').slideToggle('fast', function () {
            });

            $('.share p').toggleClass('open');
            $('.share p:after').css('content', '-');
            $('.sites').toggleClass('shake');
        });
    </script>
{% endblock %}